.j-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height:50px;
    max-height: 50px;
    color:#505f79;
    background-color: #ffffff;
    border-top: 1px solid #d3d8db;
    padding-top: 15px;
    .j-footer-container{
        color:#505f79;
    }

}

.copyright-text{
    font-size: 14px;
    color:#505f79;
}
.p-font-gray{
    color:#505f79;
}