.j-header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d3d8db;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    z-index: 3;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .brand{
        cursor: pointer;
    }
    .j-brand{
        float: left;
        padding-top: 10px;
        cursor: pointer;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .j-site-logo{
            float: left;
            width: 30px;
            height: 30px;
        }
        .j-site-name{
            padding-left: 5px;
            float: left;
            font-size: 20px;
            font-weight: 600;
            color: #4285f4;
        }
    }
    .j-nav{
        float: left;
        color: $font-color;
        padding-right: 65px;
        padding-top: 15px;
        .j-menu-item{
            width: 200px;
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            float: none;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 14px;
            text-decoration: none;
            color: $font-color;
            text-transform: uppercase;
            &:hover{
                font-weight: 600;
                color: #543333;
            }
            &.active{
                font-weight: 600;
                color: #4285f4;
            }
        }
        @media screen and (max-width: 500px){
            width: 100%;
            float: none;
            position: absolute;
            top: 50px;
            left: 0px;
            @include easeOut;
            background-color: #ffffff;
            padding-top: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
            visibility: hidden;
            border-bottom: 1px solid #d3d8db;
            .j-menu-item{
                width: 100%;
                float: none;
                display: block;
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 0px;
                padding-right: 0px;
                height: 0px;
            }
            &.is-visible{
                visibility: visible;
            }
        }
    }
    
}

.j-menu-bars{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 22px !important;
    cursor: pointer;
    visibility: hidden;
    color: #3c8dbc;
    &:hover{
        color: #505f79;
    }
    @media screen and (max-width: 500px){
        visibility: visible;
    }
}
.j-sign-in{
    position: absolute;
    top: 15px;
    right: 60px;
    font-size: 22px !important;
    cursor: pointer;
    &:hover{
        color: #4285f4 !important;
    }
    visibility: hidden;
    &.is-visible{
        visibility: visible;
    }
}
.user-image{
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    border: 2px solid #fefefe;
    cursor: pointer;
    visibility: hidden;
    &.is-visible{
        visibility: visible;
    }
}
#user{
    width: 100% !important;
    z-index: 2;
   
    .user-info {
        background-color: #fefefe;
        padding: 0px;
                > .user-info-head {
                    background-color: #eeeeee;
                    padding: 10px;
                    color: #666666;
                    overflow-wrap: break-word;
                  
                }
                .user-info-link > a {
                    padding: 10px;
                    display: block;
                    text-decoration: none;
                    color: #909090;
                    &:hover {
                        background-color: #eeeeee;
                        color: #666666;
                    }
                      
                }
                  
      }
}

.navbar-custom-menu{
        position: absolute !important;
        right: 60px !important;
        z-index: 2 !important;
}

#notification-count{
    position: absolute !important;
    right: 2px !important;
    top: 5px !important;
}

#btn-notification{
    height: 50px !important;
    >i{
        font-size: 20px
    }
}

#btn-user{
    height: 50px !important;
    width: 50px !important;
}