#home{
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: #dedede;
    .home-title{
        width: 100%;
        text-align: center;
        >h1{
            margin: auto;
            font-size: 30px;
            font-weight: 600;
            color: #004d6b;
            @media screen and (min-width:351px) and (max-width:500px){
                font-size: 18px;
            }
            @media screen and (max-width:350px){
                font-size: 14px;
            }
        }
        
    }
    .j-search-container{
        width: 100%;
        .search-box-group{
            margin: auto;
          
            >input{
                font-size: 18px;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                padding-left: 20px !important;
                height: 40px;
                border-radius: 20px 0px 0px 20px;
                border: 1px solid #ffffff;
                &:focus{
                    box-shadow: 1px 1px 2px rgb(170, 131, 180), 0 0 3px rgb(170, 131, 180), 0 0 3px rgb(170, 131, 180);
                }
            }
            >div{
                height: 40px;
                >button{
                    height: 40px;
                    border-radius: 0px 20px 20px 0px;
                    width: 50px;
                    text-align: center;
                }
            }
        }
    }
    .home-images-container{
        width: 100%;
        position: relative;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
       
    }
}