.login-container{
    width: 100%;
    .login-box{
        width: 300px;
        margin: auto;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 20px;
        @media screen and (min-width:350px) and (max-width:400px){
            width:80% ;
        }
        @media screen and (max-width:349px){
            width:80% ;
        }
    }
}