.j-personal-info-list{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}