
.registration-section{
    position: relative;
    width: 100%;
    padding-top: 50px;
    background-color: #23314b; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #23314b , #00c5fe); /* Standard syntax (must be last) */
    .side-2{
        padding-top: 40px;
        padding-bottom: 40px;
        .side-2-br{
            border-radius: 50px 0px 0px 20px;
            border: 0px;
            .j-box-header{
                padding-left: 30px;
                .j-box-title{
                    font-weight: 600;
                    color: #505f79;
                }
            }
        }
    }
    .side-1{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.j-goto-login-box{
    position: relative;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #534c57;
    text-align: center;
    color: #ffffff;
    .j-goto-login-title{
        color: #ffffff;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        padding: 20px;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 150px;
    height: 150px;
    margin: auto;
}