
.parent-panel{
    width: 100%;
    background-color: #ffffff;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.w-left-panel{
    width: 300px;
    float: left;
    border-right: 1px solid #d3d8db;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    >::-webkit-scrollbar {
        width: 7px;
        height: 7px;;
      }
      
      /* Track */
    >::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
    >::-webkit-scrollbar-thumb {
        background: #5dc963; 
        border-radius: 10px;
    }
      
      /* Handle on hover */
    >::-webkit-scrollbar-thumb:hover {
        background: #00aaee; 
    }

    .thumbnails-container{
        height: calc(100vh - 163px);
        width: 100%;
        overflow-y: scroll;
        >.thumbnails{
            width: calc(100% - 20px);
            cursor: pointer;
            margin-top: 10px ;
            margin-right: 10px;
            margin-left: 10px ;
            border: 1px solid #d3d8db;
            border-radius: 8px;
            padding: 10px;
            height: 75px;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            
            >.img-container{
                float: left; 
                margin-right: 10px;              
                >img{
                    width: 50px;
                    height: 50px;
                }
            }
            >.details-container{
                width: calc(100% - 60px);
                float: left;
                >.name{
                    font-weight: 600;
                    font-size: 11px;
                }
                >.address{
                    font-size: 10px;
                }
            } 
            
        }

    }
    @media screen and (max-width: 500px){
        width: 100%;
        border-right: none;
        .thumbnails-container{
            overflow-y: hidden;
            overflow-x: scroll;
            height: 100px;
            display: flex;
            padding-bottom: 10px;
            >.thumbnails{
                position: relative;
                width: 100vw;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                
                >.img-container{
                    float: left; 
                    margin-right: 10px;              
                    width: 60px;
                }
                >.details-container{
                    position: relative;
                   top: -50px;
                   left: 55px;
                    width: calc(100vw - 60px);
                    float: left;
                } 
                
            }
            
        }
    }
}

.w-right-panel{
    width: calc(100% - 300px);
    float: right;
    @media screen and (max-width: 500px){
        width:100%;
    }
}

.j-parent{
    width:100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    >::-webkit-scrollbar {
        width: 7px;
        height: 7px;;
      }
      
      /* Track */
    >::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
    >::-webkit-scrollbar-thumb {
        background: #5dc963; 
        border-radius: 10px;
    }
      
      /* Handle on hover */
    >::-webkit-scrollbar-thumb:hover {
        background: #00aaee; 
    }
    .j-scroll{
        height: calc(100vh - 100px);
        width: 100%;
        overflow-y: scroll;
    }
}


.j-tooltip-container{
    position: relative;
    z-index: 2;
    height: 100%;
    .j-tooltip{
        position: absolute;
        visibility: hidden;
        border: 1px solid #d3d8db;
        height: 100px;
        width: 250px;
        top: 20px;
        z-index: 2;
        background-color: #ffffff;
        border-radius: 10px;
        overflow-wrap: break-word;
        .j-tooltip-image{
            float: left;
            width: 70px;
            height: 70px;
            margin-top: 15px;
            margin-left: 15px;
        }
        >a{
            position: relative;
            overflow-wrap: break-word;
            top: 20px;
            left: 10px;
            font-size: 14px;
            font-weight: 600;
        }
        >p{
            position: relative;
            left: 10px;
            color: #556479;
        }
    }
    &:hover{
        .j-tooltip{
            visibility: visible;
        }
    }
}