#user{
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 2;
    border-radius: 0;
    &.is-visible {
        visibility: visible;
    }
    .user-info {
        border-radius: 0px 0px 5px 5px;
        background-color: #fefefe;
        padding: 0px;
        -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
        -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
        box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
                > .user-info-head {
                    background-color: #eeeeee;
                    padding: 10px;
                    color: #666666;
                }
                .user-info-link > a {
                    padding: 10px;
                    display: block;
                    text-decoration: none;
                    color: #909090;
                    &:hover {
                        background-color: #eeeeee;
                        color: #666666;
                    }
                      
                }
                  
      }
}