* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}


.j-container {
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.j-on-top {
  position: absolute;
  z-index: 2;
}

.j-header {
  position: fixed;
  width: 100%;
  min-height: 50px;
  display: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
}

.j-header.colored {
  background-color: #394856;
  -webkit-box-shadow: 10px 0 5px;
          box-shadow: 10px 0 5px;
}

.j-header .j-brand {
  float: left;
  color: #fefefe;
  padding-left: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.j-header .j-nav {
  float: right;
  color: #fefefe;
  padding-right: 65px;
  padding-top: 15px;
  z-index: 2;
}

.j-header .j-nav > a {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  float: none;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 14px;
  text-decoration: none;
  color: #fefefe;
  text-transform: uppercase;
}

.j-header .j-nav > a:hover {
  color: #666666;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.j-header .j-nav > a.active {
  color: #3fb35b;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .j-header .j-nav {
    position: absolute;
    top: 50px;
    padding: 0px;
    width: 100%;
    width: 0px;
    visibility: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .j-header .j-nav > a {
    visibility: hidden;
    display: block;
    width: 100%;
    background-color: #fefefe;
    color: #909090;
  }
  .j-header .j-nav.show-nav {
    visibility: visible;
    width: 100%;
  }
  .j-header .j-nav.show-nav > a {
    visibility: visible;
  }
}

.j-header .sign-in {
  visibility: hidden;
  position: absolute;
  color: #fefefe;
  font-size: 30px;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .j-header .sign-in {
    right: 60px;
  }
}

.j-header .sign-in:hover {
  color: #3fb35b;
}

.j-header .user-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  border: 2px solid #fefefe;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .j-header .user-image {
    right: 60px;
  }
}

.j-header #user {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 25px;
  visibility: hidden;
}

.j-header #user.is-visible {
  visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 700px) {
  .j-header #user {
    right: 60px;
  }
}

.j-header #user .user-info {
  border-radius: 5px;
  background-color: #fefefe;
  padding: 0px;
  -webkit-box-shadow: 0 0 30px;
          box-shadow: 0 0 30px;
}

.j-header #user .user-info > .user-info-head {
  background-color: #eeeeee;
  padding: 10px;
  color: #666666;
}

.j-header #user .user-info > .user-info-link > a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #909090;
}

.j-header #user .user-info > .user-info-link > a:hover {
  background-color: #eeeeee;
  color: #666666;
}

.j-header .j-menu-bars {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fefefe;
  font-size: 30px;
  cursor: pointer;
}

.j-header .j-menu-bars:hover {
  color: #3fb35b;
}

@media screen and (max-width: 700px) {
  .j-header .j-menu-bars {
    visibility: visible;
  }
}

#home {
  min-height: 600px;
  z-index: -1;
}

#home:before {
  content: '';
  position: absolute;
  min-height: 600px;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.5);
  z-index: 0;
}

#home .home-title {
  text-align: center;
  color: #f4f4f4;
}

#home .home-title > h1 {
  font-size: 40px;
}

#home .home-title > p {
  font-size: 18px;
}

#home .search-container {
  width: auto;
}

#home .search-control-group {
  background-color: #bc00ff;
  padding: 1px;
  border-radius: 4px;
  width: 400px;
  margin: auto;
}

#home .search-control-group > .search {
  width: 340px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#home .search-control-group > span {
  width: 50px;
  cursor: pointer;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fefefe;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  #home .search-control-group {
    width: 300px;
  }
  #home .search-control-group > .search {
    width: 240px;
  }
}

#about {
  min-height: 600px;
  background-color: #eeeeee;
}
/*# sourceMappingURL=jstyle.1.1.css.map */