*{
    margin: 0;
    box-sizing: 0
}

$font-color: #a0a3a8;

@mixin easeOut {
    transition: all .5s ease-out;
}

.chand{
    cursor: pointer !important;
}

.j-title{
    font-size: 24px;
    font-weight: 600;
    color: #505f79;
    @media screen and (max-width: 500px){
        font-size: 14px;
    }
}

.j-modal-question{
    font-size: 18px;
    font-weight: 600;
    color: #505f79;
    @media screen and (max-width: 500px){
        font-size: 15px;
    }
}
.span-with-close{
    padding: 5px;
    border-radius: 8px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    >a{
        cursor: pointer;
        background-color: red;
        border-radius: 100%;
        color: #ffffff;
        padding: 3px;
        margin-left: 5px;
        font-size: 10px;
    }
    &.Basic{
        background-color: #dd4b39;
    }
    &.Intermediate{
        background-color: #00a65a;
    }
    &.Advance{
        background-color: #00c0ef;
    }
    &.Expert{
        background-color: #f39c12;
    }
}

.main-layout{
    position: relative;
  
    width: 100%;
}

.ratings{
    font-size: 20px !important;
    color: #c9c9c9 !important;
    &.active{
        color: #f7d923 !important;
    }
    &.c-h{
        cursor: pointer;
    }
}

.p-top-10{
    padding-top: 10px;
}
.main-container{
    padding: 0;
    margin: 0;
    width: 100%;
    
}

body{
    background-color: #eeeeee;

}

.notif{
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 100%;
    >.close{
        cursor: pointer;
    }
}

.j-section{
    width: 100%; 
    padding-top:50px;
    padding-bottom: 50px;
}

@import 'home';
@import 'header';
@import 'footer';
@import 'login';
@import 'registration';
@import 'profile';
@import 'worker';
@import 'userstable';
  /*# sourceMappingURL=jstyle.1.1.css.map */