* {
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.chand {
  cursor: pointer !important;
}

.j-title {
  font-size: 24px;
  font-weight: 600;
  color: #505f79;
}

@media screen and (max-width: 500px) {
  .j-title {
    font-size: 14px;
  }
}

.j-modal-question {
  font-size: 18px;
  font-weight: 600;
  color: #505f79;
}

@media screen and (max-width: 500px) {
  .j-modal-question {
    font-size: 15px;
  }
}

.span-with-close {
  padding: 5px;
  border-radius: 8px;
  margin-right: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}

.span-with-close > a {
  cursor: pointer;
  background-color: red;
  border-radius: 100%;
  color: #ffffff;
  padding: 3px;
  margin-left: 5px;
  font-size: 10px;
}

.span-with-close.Basic {
  background-color: #dd4b39;
}

.span-with-close.Intermediate {
  background-color: #00a65a;
}

.span-with-close.Advance {
  background-color: #00c0ef;
}

.span-with-close.Expert {
  background-color: #f39c12;
}

.main-layout {
  position: relative;
  width: 100%;
}

.ratings {
  font-size: 20px !important;
  color: #c9c9c9 !important;
}

.ratings.active {
  color: #f7d923 !important;
}

.ratings.c-h {
  cursor: pointer;
}

.p-top-10 {
  padding-top: 10px;
}

.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background-color: #eeeeee;
}

.notif {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  width: 100%;
}

.notif > .close {
  cursor: pointer;
}

.j-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#home {
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: #dedede;
}

#home .home-title {
  width: 100%;
  text-align: center;
}

#home .home-title > h1 {
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  color: #004d6b;
}

@media screen and (min-width: 351px) and (max-width: 500px) {
  #home .home-title > h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  #home .home-title > h1 {
    font-size: 14px;
  }
}

#home .j-search-container {
  width: 100%;
}

#home .j-search-container .search-box-group {
  margin: auto;
}

#home .j-search-container .search-box-group > input {
  font-size: 18px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 20px !important;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #ffffff;
}

#home .j-search-container .search-box-group > input:focus {
  -webkit-box-shadow: 1px 1px 2px #aa83b4, 0 0 3px #aa83b4, 0 0 3px #aa83b4;
          box-shadow: 1px 1px 2px #aa83b4, 0 0 3px #aa83b4, 0 0 3px #aa83b4;
}

#home .j-search-container .search-box-group > div {
  height: 40px;
}

#home .j-search-container .search-box-group > div > button {
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  width: 50px;
  text-align: center;
}

#home .home-images-container {
  width: 100%;
  position: relative;
}

#home .home-images-container:after {
  content: "";
  display: table;
  clear: both;
}

.j-header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d3d8db;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  z-index: 3;
}

.j-header:after {
  content: "";
  display: table;
  clear: both;
}

.j-header .brand {
  cursor: pointer;
}

.j-header .j-brand {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.j-header .j-brand:after {
  content: "";
  display: table;
  clear: both;
}

.j-header .j-brand .j-site-logo {
  float: left;
  width: 30px;
  height: 30px;
}

.j-header .j-brand .j-site-name {
  padding-left: 5px;
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: #4285f4;
}

.j-header .j-nav {
  float: left;
  color: #a0a3a8;
  padding-right: 65px;
  padding-top: 15px;
}

.j-header .j-nav .j-menu-item {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  float: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
  text-decoration: none;
  color: #a0a3a8;
  text-transform: uppercase;
}

.j-header .j-nav .j-menu-item:hover {
  font-weight: 600;
  color: #543333;
}

.j-header .j-nav .j-menu-item.active {
  font-weight: 600;
  color: #4285f4;
}

@media screen and (max-width: 500px) {
  .j-header .j-nav {
    width: 100%;
    float: none;
    position: absolute;
    top: 50px;
    left: 0px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    visibility: hidden;
    border-bottom: 1px solid #d3d8db;
  }
  .j-header .j-nav .j-menu-item {
    width: 100%;
    float: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    height: 0px;
  }
  .j-header .j-nav.is-visible {
    visibility: visible;
  }
}

.j-menu-bars {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 22px !important;
  cursor: pointer;
  visibility: hidden;
  color: #3c8dbc;
}

.j-menu-bars:hover {
  color: #505f79;
}

@media screen and (max-width: 500px) {
  .j-menu-bars {
    visibility: visible;
  }
}

.j-sign-in {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 22px !important;
  cursor: pointer;
  visibility: hidden;
}

.j-sign-in:hover {
  color: #4285f4 !important;
}

.j-sign-in.is-visible {
  visibility: visible;
}

.user-image {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  border: 2px solid #fefefe;
  cursor: pointer;
  visibility: hidden;
}

.user-image.is-visible {
  visibility: visible;
}

#user {
  width: 100% !important;
  z-index: 2;
}

#user .user-info {
  background-color: #fefefe;
  padding: 0px;
}

#user .user-info > .user-info-head {
  background-color: #eeeeee;
  padding: 10px;
  color: #666666;
  overflow-wrap: break-word;
}

#user .user-info .user-info-link > a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #909090;
}

#user .user-info .user-info-link > a:hover {
  background-color: #eeeeee;
  color: #666666;
}

.navbar-custom-menu {
  position: absolute !important;
  right: 60px !important;
  z-index: 2 !important;
}

#notification-count {
  position: absolute !important;
  right: 2px !important;
  top: 5px !important;
}

#btn-notification {
  height: 50px !important;
}

#btn-notification > i {
  font-size: 20px;
}

#btn-user {
  height: 50px !important;
  width: 50px !important;
}

.j-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  color: #505f79;
  background-color: #ffffff;
  border-top: 1px solid #d3d8db;
  padding-top: 15px;
}

.j-footer .j-footer-container {
  color: #505f79;
}

.copyright-text {
  font-size: 14px;
  color: #505f79;
}

.p-font-gray {
  color: #505f79;
}

.login-container {
  width: 100%;
}

.login-container .login-box {
  width: 300px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

@media screen and (min-width: 350px) and (max-width: 400px) {
  .login-container .login-box {
    width: 80%;
  }
}

@media screen and (max-width: 349px) {
  .login-container .login-box {
    width: 80%;
  }
}

.registration-section {
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-color: #23314b;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, right top, from(#23314b), to(#00c5fe));
  background-image: linear-gradient(to right, #23314b, #00c5fe);
  /* Standard syntax (must be last) */
}

.registration-section .side-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.registration-section .side-2 .side-2-br {
  border-radius: 50px 0px 0px 20px;
  border: 0px;
}

.registration-section .side-2 .side-2-br .j-box-header {
  padding-left: 30px;
}

.registration-section .side-2 .side-2-br .j-box-header .j-box-title {
  font-weight: 600;
  color: #505f79;
}

.registration-section .side-1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.j-goto-login-box {
  position: relative;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #534c57;
  text-align: center;
  color: #ffffff;
}

.j-goto-login-box .j-goto-login-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 150px;
  height: 150px;
  margin: auto;
}

.j-personal-info-list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.j-personal-info-list:after {
  content: "";
  display: table;
  clear: both;
}

.parent-panel {
  width: 100%;
  background-color: #ffffff;
}

.parent-panel:after {
  content: "";
  display: table;
  clear: both;
}

.w-left-panel {
  width: 300px;
  float: left;
  border-right: 1px solid #d3d8db;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.w-left-panel:after {
  content: "";
  display: table;
  clear: both;
}

.w-left-panel > ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.w-left-panel > ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.w-left-panel > ::-webkit-scrollbar-thumb {
  background: #5dc963;
  border-radius: 10px;
}

.w-left-panel > ::-webkit-scrollbar-thumb:hover {
  background: #00aaee;
}

.w-left-panel .thumbnails-container {
  height: calc(100vh - 163px);
  width: 100%;
  overflow-y: scroll;
}

.w-left-panel .thumbnails-container > .thumbnails {
  width: calc(100% - 20px);
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #d3d8db;
  border-radius: 8px;
  padding: 10px;
  height: 75px;
}

.w-left-panel .thumbnails-container > .thumbnails:after {
  content: "";
  display: table;
  clear: both;
}

.w-left-panel .thumbnails-container > .thumbnails > .img-container {
  float: left;
  margin-right: 10px;
}

.w-left-panel .thumbnails-container > .thumbnails > .img-container > img {
  width: 50px;
  height: 50px;
}

.w-left-panel .thumbnails-container > .thumbnails > .details-container {
  width: calc(100% - 60px);
  float: left;
}

.w-left-panel .thumbnails-container > .thumbnails > .details-container > .name {
  font-weight: 600;
  font-size: 11px;
}

.w-left-panel .thumbnails-container > .thumbnails > .details-container > .address {
  font-size: 10px;
}

@media screen and (max-width: 500px) {
  .w-left-panel {
    width: 100%;
    border-right: none;
  }
  .w-left-panel .thumbnails-container {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  .w-left-panel .thumbnails-container > .thumbnails {
    position: relative;
    width: 100vw;
  }
  .w-left-panel .thumbnails-container > .thumbnails:after {
    content: "";
    display: table;
    clear: both;
  }
  .w-left-panel .thumbnails-container > .thumbnails > .img-container {
    float: left;
    margin-right: 10px;
    width: 60px;
  }
  .w-left-panel .thumbnails-container > .thumbnails > .details-container {
    position: relative;
    top: -50px;
    left: 55px;
    width: calc(100vw - 60px);
    float: left;
  }
}

.w-right-panel {
  width: calc(100% - 300px);
  float: right;
}

@media screen and (max-width: 500px) {
  .w-right-panel {
    width: 100%;
  }
}

.j-parent {
  width: 100%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.j-parent:after {
  content: "";
  display: table;
  clear: both;
}

.j-parent > ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.j-parent > ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.j-parent > ::-webkit-scrollbar-thumb {
  background: #5dc963;
  border-radius: 10px;
}

.j-parent > ::-webkit-scrollbar-thumb:hover {
  background: #00aaee;
}

.j-parent .j-scroll {
  height: calc(100vh - 100px);
  width: 100%;
  overflow-y: scroll;
}

.j-tooltip-container {
  position: relative;
  z-index: 2;
  height: 100%;
}

.j-tooltip-container .j-tooltip {
  position: absolute;
  visibility: hidden;
  border: 1px solid #d3d8db;
  height: 100px;
  width: 250px;
  top: 20px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.j-tooltip-container .j-tooltip .j-tooltip-image {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 15px;
  margin-left: 15px;
}

.j-tooltip-container .j-tooltip > a {
  position: relative;
  overflow-wrap: break-word;
  top: 20px;
  left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.j-tooltip-container .j-tooltip > p {
  position: relative;
  left: 10px;
  color: #556479;
}

.j-tooltip-container:hover .j-tooltip {
  visibility: visible;
}

.j-table > thead > tr > th {
  font-size: 12px !important;
}

.j-table > tbody > tr > td {
  font-size: 10px !important;
}
/*# sourceMappingURL=jstyle.css.map */