.j-table{
    >thead{
        >tr{
             >th{
                 font-size: 12px !important;
             }   
        }
    }
    >tbody{
        >tr{
            >td{
                font-size: 10px !important;
            }
        }
    }
}